{% extends 'layout.html' %}

{% block content %}

<h2>Пациент: {{ patient.name }}</h2>
    <p>
        <a href="{%  url 'patient_edit' pk=patient.id %}">Редактировать</a> <a href="{%  url 'patient_delete' pk=patient.id %}">Удалить</a>
    </p>
    <ul>
    <li><strong>Medsenger id:</strong> {{ patient.contract_id }}</li>
    </ul>

    <h6>Опросники:</h6>
    <ul>
    {% for poll in patient.polls.all %}
        <li>{{ poll.name }}</li>
    {% endfor %}
    </ul>

    <h6>Правила:</h6>
    <ul>
    {% for rule in patient.rules.all %}
        <li>{{ rule.name }} - {% check_rule rule patient %}</li>
    {% endfor %}
    </ul>

    <h6>Параметры:</h6>
    {% for parameter in parameters %}
        <i>{{ parameter.name }}</i>
        {% parameter_plot parameter patient %}
    {% endfor %}

    <h6>Измерения:</h6>

    <ul>
    {% for measurment in patient.measurement_set.all %}
        <li><i>{{ measurment.parameter.name }}, {{ measurment.datetime }}</i>: {{ measurment.value }}</li>
    {% endfor %}
    </ul>

{% endblock %}